

.Tips-heading h3{
    color:#fff;
    float: left;
    width: 100%;
    font-family: Quicksand;
   
    font-weight: bold;
    letter-spacing: -1px;
    margin-top:270px;
    text-align:center;
}

.Tips-heading h6{
    color:#FB236A;
    font-weight: bold;
    margin-left: 480px;

}

/*next-1*/

.Tips-part{
    padding-bottom: 125px;
}

.Tips-image{
    height:400px;
    overflow:hidden;
}

.Tips-image img{
    height:100%;
    width:100%;
    object-fit:cover;
}

.Tips-column-1{
    padding-top:50px;
}

.Tips-column-2{
    padding-top:50px;
}
.Tips-column-2 h1{
    font-size:20px;
        padding-left:34px;
color:#888;
}

.Tips-categories:hover{
color:#ff0000;
}

.Tips-categories i{
    padding-right:20px;
        font-size: 12px;
}
.Tips-more-post h6{
    color:#333;
    margin-left:0px;
    text-decoration:none;
    font-weight:400px;
}

.Tips-more-post h6:hover{
color:#ff0000;
}

.more-post-section span{
    float: left;
    width: 100%;
    font-size: 13px;
    color: #888888;
    margin-top: 5px;
}

.more-post-images{
    height:80px;
    overflow:hidden;
    border-radius:10px;
}

.more-post-images img{
    height:100%;
    width:100%;
    object-fit:cover;
}
.more-post-section{
    padding-left:36px;
    padding-bottom:20px;
}

.Tips-lastpart{
    padding-left:20px;
}

.Tips-Ethical-Recruitment h3{
    color:#333;
    font-weight:500px;
    font-size:20px;
}
.Tips-Ethical-Recruitment h3:hover{
    color:#ff0000;
}
.Tips-Ethical-paragraph{
    float: left;
    width: 100%;
    font-size: 14px;
    color: #888888;
    line-height: 24px;
    margin: 0;
    margin-top: 4px;
}

.Tips-button {
    margin-left: 20px;
    float: left;
    font-family: Open Sans;
    font-size: 15px;
    color: #fb236a;
    border: 2px solid #fb236a;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 12px 30px;
    margin-top: 24px;
}

.Tips-button a{
color:#ff0000;
}
.Tips-button:hover{
    background-color:#ff0000;
    color: #fff;
}
.Tips-button a:hover{
color:#ff0000;
}
.tips-next-section{
    margin-top:90px;
        margin-left: -159px;


}

.Tips-next-section-image{
  height:400px;
    overflow:hidden;
    border-radius:5px;
    margin-bottom: 20px;
}

.Tips-next-section-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}